{% extends "./layout/app.twig" %}

{% block content %}

<div class="col-md-9">
    <div class="bg-white shadow-sm p-3 mb-4 rounded">
        <div class="forum d-flex d-flex p-3">
            <div class="mr-4">
                <img src="http://via.placeholder.com/50" alt="..." class="rounded-circle">
            </div>
            <div class="forum_body mr-4 flex-grow-1">
                <div class="forum_body_username d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5 class="font-weight-bold mr-2">{{ data.userForum.name }}</h5>
                        <span class="text-muted">2019-02-11 12:00:59</span>
                    </div>
                    <div class="text-white">
                        {% if user.id == data.userForum.id %}
                        <a class="btn btn-primary btn-sm" href='{{ "forums/#{data.forum.id}/edit" | url }}'>
                            <i class="fas fa-edit"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="my-3 rounded" style="background-color: #96c4f5">
                    <h5 class="p-3 text-decoration-none text-dark">{{ data.forum.title }}</h5>
                </div>
                <div class="forum_body_description">
                    {{ data.forum.description}}
                </div>
            </div>
        </div>
        <div class="forum_comments mt-5">
            <div class="forum_comments_title">
                {% if data.forum.isOpen %}
                <div class="forum_comments_compose">
                    <form action="{{ 'forums/addComment' | url }}" id="formCreateComment" method="POST" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <input type="hidden" value="{{ data.forum.id}}" id="forumId">
                            <textarea name="body" id="bodyComment" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                Comentar
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
                <h4>Comentarios</h4>
                <hr>
                <div class="forum_comments_list">

                    {% for comment in data.comments %}
                        <div class="box_comment forum d-flex p-3">
                            <div class="mr-4">
                                <img src="http://via.placeholder.com/50" alt="..." class="rounded-circle">
                            </div>
                            <div class="forum_body mr-4">
                                <div class="d-flex d-flex align-items-center">
                                    <h5 class="mr-2">{{ comment.userName}}</h5>
                                    <span class="text-muted">{{comment.created_at}}</span>
                                </div>
                                <div class="forum_body_description">
                                    <p class="text-muted">{{ comment.body }}</p>
                                </div> 
                            </div>
                            {% if user.id == comment.userId %}
                            <div class="box_comment_controls">
                                <a 
                                    class="btn btn-danger btn-sm btnDeleteComment"
                                    href="formDelComment{{comment._id}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <form action="comments/{{comment._id}}/delete" method="POST" id="formDelComment{{comment._id}}" class="formDelComment" enctype="application/x-www-form-urlencoded">
                                    <div class="form-group">
                                        <input type="hidden" name="comment_id">
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsHead %}
    <script src="{{ 'js/classes/forum.js' | url }}"></script>
{% endblock %}

{% block js %}
    <script src="{{ 'js/forumShow.js' | url }}"></script>
{% endblock %}